<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Venta Producto</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Ingresar Producto<span class="badge badge-secondary"></span></h1>
<form  action="#" th:action="@{/formProducto}" th:object="${producto}" method="post">
		<div class="form-group row mx-auto" ><span class="border border-0">
			<div class="col-xs-3">
				<label>Nombre del Prodcuto:</label>
				<input type="text" class="form-control" th:field="${producto.nombre}"> <br>
				<span th:errors="*{nombre}" style= color:#E81505></span><br>
			</div>
			
			<div class="col-xs-3">	
				<label>Descrpcion del Producto:</label> 
				<input type="text" class="form-control" th:field="${producto.descripcion}"> <br>
				<span th:errors="*{descripcion}" style= color:#E81505></span><br>
			</div>
			
			<div class="col-xs-3">	
				<label>Precio el Procuto:</label> 
				<input type="text" class="form-control" th:field="${producto.precio}"> <br>
				<span th:errors="*{precio}" style= color:#E81505></span><br>
			</div>
				
			<div class="col-xs-3">
				<label>Fecha de vencimiento del Producto:</label> 
				<input type="text" class="form-control" placeholder="dd/mm/yyyy" th:field="${producto.vencimiento}"> <br>
				<span th:errors="*{vencimiento}" style= color:#E81505></span><br>
			</div>
		</span></div>
		
		
		<input type="submit" class="btn btn-primary" value="Agregar Producto">
	</form>
</body>
</html>